@import "./src/assets/general-styles";
.glass {
  @include glassMorphism;
}
.details {
  font-size: 2.1rem;
  text-align: justify;
}
.link {
  color: inherit;
}
.link:hover {
  color: inherit;
}
.dirR{
  direction: rtl;
}
.dirL{
  direction: ltr;
}