@import "./src/assets/general-styles";
.glass {
  @include glassMorphism;
}
.details {
  font-size: 2rem;
  text-align: justify;
}
.header {
  text-align: center;
}
.link {
  color: inherit;
}
.link:hover {
  color: inherit;
}
.dirR {
  direction: rtl;
}
.dirL {
  direction: ltr;
}

@media only screen and (max-width: 520px) {
  .header {
    font-size: 2rem;
  }
  .details {
    font-size: 1.3rem;
  }
  .image {
    min-width: 200px !important;
  }
}
