@import '../../sample.scss';
@import "../../assets/general-styles";

.wrapper {
  @include background;
  height: 100vh;
}
.wrapper-default{
  @include colorEffectDefault;
}
.wrapper-light{
  @include colorEffectLight;
}
.wrapper-dark{
  @include colorEffectDark;
}
.content{
  margin: auto;
}
.temp{
  color: black;
}
.welcome-text{
  @include glassMorphism;
  width: 600px;
  height: 100px;
  border-radius: 12px;
  font-size: 1.5rem;
  padding-left: 10px;
}