@import "../../assets/general-styles";

.glass-contact-us {
  border-radius: 12px;
  font-family: "Raleway", sans-serif;
}
.container-header {
  @include glassMorphism;
  width: 1528px;
  height: 100px;
  border-radius: 17px;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
}
.container-body-flex {
  display: flex;
  flex-wrap: wrap;
}
.container-flex-item {
  @include glassMorphism;
  border-radius: 12px;
  width: 490px;
  height: 200px;
  margin: 10px;
  transition: 0.3s;
  animation: t;
}
.socialMedia-wrapper {
  text-align: center;
  margin-top: 10%;
}

.socialMedia-wrapper > button {
  color: black;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.socialMedia-wrapper > button:hover,
.socialMedia-wrapper > a:hover {
  transition: 1s;
  color: rgba(46, 46, 46, 0.75);
}
.socialMedia-wrapper > button:not(:hover),
.socialMedia-wrapper > a:not(:hover) {
  transition: 1s;
  color: black;
}

.socialMedia-wrapper > a {
  text-decoration: none;
  color: black;
}

.socialMedia-name {
  font-size: 1.5rem;
}
.msg {
  color: #5c5c5c;
}
.msg-show {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
.msg-hide {
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.container-flex-item:hover {
  transform: translateY(0.2rem);
}
@media only screen and (max-width: 1650px) {
  .container-body-flex{
    justify-content: center;
  }
  .container-flex-item{
    width: 200px;
    height: 150px;
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 900px) {
  .container-header{
    font-size: 2rem;
  }
}