@import "../../assets/general-styles";

.flex-container-about {
  display: flex;
}
.flex-item-About {
  @include glassMorphism;
  width: 66%;
  height: 700px;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
}
.image {
  width: 33%;
  background-image: url("../../assets/photo_2021-11-21_23-43-14.jpg");
  background-position: center;
  opacity: .65;
}

.card1-header {
  font-size: 3.2rem;
}
.card1-body {
  font-size: 2.2rem;
  text-align: justify;
}
@media only screen and (max-width:1400px){
  .flex-container-about{
    flex-direction: column;
  }
  .flex-item-About{
    width: 100% ;
  }
  #about {
    margin-left: -10px;
  }
}
@media only screen and (max-width:1000px){
  .flex-item-About > .card1-body{
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 460px){
  .flex-item-About > .card1-body{
    font-size: 1.27rem;
  }
}
@media only screen and (max-width: 330px){
  .flex-item-About > .card1-body{
    font-size: 1.20rem;
  }
}