@import "../../assets/general-styles";

.glass-footer {
  @include glassMorphism;
  border-radius: 7px 7px 0 0;
}
.info {
  text-align: center;
  font-size: 1rem;
}
.info > div {
  display: inline;
  font-family: "Raleway", "Tanha", sans-serif;
  padding-right: 5px;
}
.dirR {
  direction: rtl;
}
.dirL {
  direction: ltr;
}
.animate {
  animation: x linear 7s infinite;
  @keyframes x {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.footer-logo {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
