@mixin background {
  width: 100%;
  background-size: 200% 200%;
  background-attachment: fixed;
  animation: mg 4s linear infinite alternate;

  @keyframes mg {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 100%;
    }
  }
}
@mixin colorEffectDark {
  background-image: linear-gradient(
    to bottom right,
    #363636 0%,
    #1c1c1c 60%,
    black 100%
  );
}
@mixin colorEffectDefault {
  background-image: linear-gradient(
    to bottom right,
    #4affde 0%,
    #5b9dff 60%,
    #ff34d2 100%
  );
}
@mixin colorEffectLight {
  background-image: linear-gradient(
    to bottom right,
    #ecf2f9 0%,
    #c8d9eb 40%,
    #f0d9da 60%,
    #f9ecec 100%
  );
}

.App-light {
  @include background;
  @include colorEffectLight;
}
.App-dark {
  @include background;
  @include colorEffectDark;
}
.App-default {
  @include background;
  @include colorEffectDefault;
}
@font-face {
  font-family: Tanha;
  src: url("./assets/font/Tanha.eot");
  src: url("./assets/font/Tanha.eot?#iefix") format("embedded-opentype"),
    url("./assets/font/Tanha.woff") format("woff"),
    url("./assets/font/Tanha.ttf") format("truetype");
  font-weight: normal;
}
